
<header class="header">
    <div class="header-main">
        <a href="/" class="header-logo">Blog</a>
        <a href="/create-post" class="dashboard"  >Dashboard</a>
    </div>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>
    
    <div>
        <ul>
            <% if (user) {   %>
                <li>Welcome, <%= user.email %></li>
                <li><a href="/auth/logout">Log out</a></li>
            <%} else{ %> 
                <li><a href="/auth/login">Log in</a></li>
                <li><a href="/auth/signup" >Sign up</a></li>
        <% } %>
        </ul>
    </div>
    
</header>


