
<h3>Avaliable for work</h3>
    <div class="content-about">
        <div class="card">
            <h3>Phone</h3>
            <p>+201223270838</p>
        </div>
        <div class="card">
            <h3>Email</h3>
            <p>sayedabdo4900@gmail.com</p>
        </div>
</div>